</main>
    <footer id="footer-contents">
    
        <div class="author">Author - Atharva Ghorpade</div>
        <div class="copyright">Copyright @ <%= new Date().getFullYear()  %></div>
        <div class="social-links">
            <ul class="items">
                <a href=""><li class="footer-list"><img class="social" src="images/instagram.png" alt=""></li></a>
                <a href=""><li class="footer-list"><img class="social" src="images/x.png" alt=""></li></a>
                <a href=""><li class="footer-list"><img class="social" src="images/email.png" alt=""></li></a>
                <a href=""><li class="footer-list"><img class="social" src="images/github.png" alt=""></li></a>
            </ul>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </body>

</html>