<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/content.css" />
    <title>The Best Blogs</title>
  </head>
  <body>
    <header>
      <nav id="navbar-container">
        <div id="navbar">
          <div class="redirect">The Best Blogs</div>
          <div class="options">
            <ul class="items">
              <a href="/"><li class="nav-list">Blogs</li></a>
              <a href="/create"><li class="nav-list">Create</li></a>
              <a href="/edit"><li class="nav-list">Edit</li></a>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>

